*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;
}

.game {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background: url('../images/mainPosterWithJS.jpg') center center/cover no-repeat;
}

.start {
    padding: 5px 10px;
    margin: auto auto;
    cursor: pointer;
    color: #f1f1f1;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    background: #c69500;
    border-color: #c69500;
    border-radius: 10px;
    white-space: nowrap;
    transition: background-color 1s ease-in-out, color .5s ease-in, box-shadow .5s ease-in;
    outline: transparent;
}

.start:hover {
    background: #c68900;
    box-shadow: 0 0 10px #c69500;
    transition: background-color 1s ease-in-out, color .5s ease-in, box-shadow .5s ease-in;
    color: #8ff1f1;
}

.start:active {
    padding: 5px 10px 6px;
    transition: color 0s ease-in .05s;
    color: #00e5ff;
}

.gameArea {
    height: 100%;
    width: 400px;
    position: relative;
    background: #292d29;
    overflow: hidden;
    box-shadow: 1px 1px 100px #292d29;
}

.car {
    height: 100px;
    width: 50px;
    left: 175px;
    bottom: 10px;
    position: absolute;
    background: url("../images/player.png") center center/cover no-repeat;
}

.line {
    position: absolute;
    width: 10px;
    height: 50px;
    background: #f1f1f1;
    left: 200px;
}

.leftLine {
    position: absolute;
    width: 10px;
    height: 100%;
    background: #f1f1f1;
    left: 0;
}

.rightLine {
    position: absolute;
    width: 10px;
    height: 100%;
    background: #f1f1f1;
    left: 390px;
}

.car.enemy {
    background: url("../images/enemy.png") center center/cover no-repeat;
}
